<html>
<head>
</head>
<body>

    <h3>OAuth2 Resource Server</h3>

    <p>{{ greeting }}</p>

    <ul>
        <li><a href="/access_token">interactive invoke REST endpoints (no authentication required)</a></li>
        <li><a href="/access_token_protected">interactively invoke REST endpoints (authentication required)</a></li>
    </ul>

    {% if access_token %}
    <p>&nbsp;</p>
    Access Token:<br/>
    <textarea id="token" rows="8" cols="110" style="font-size: small;">{{ access_token }}
    </textarea>
    {% endif %}

</body>
</html>

